body {
    background: #f5f5f5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    padding-right: -15px;
    padding-left: -15px;
    margin-right: auto;
    margin-left: auto;
}

* {
    margin: 0px;
    padding: 0px;
}

.row {
    margin: 0 auto;
    width: 80%;
}

header h1 {
    text-align: center;
    padding: 1em;
}

.menu {
    text-align: right;
}

nav {
    background: firebrick;
}

.sign-in {
    padding: 4px !important;
    background: wheat !important;
    color: firebrick !important;
}

.menu ul {
    list-style-type: none;
}

.logo {
    float: left;
    line-height: 60px;
    color: wheat;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.icon {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 3px solid wheat;
}

.menu ul li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0.5em;
    font-size: 15px;
    display: inline-block;
    color: wheat;
    line-height: 50px;
    font-weight: bold;
    height: 50px;
    background: firebrick;
}

.menu ul li a:hover {
    color: goldenrod
}

.menu ul ul a {
    display: none;
}

.menu ul ul li a {
    display: none;
    display: inline-block;
}

.menu ul li:hover>ul {
    display: block;
    position: absolute;
}

.menu ul ul {
    width: 10px;
    /* margin: -10px; */
    padding-left: 0px;
    margin-left: -10px;
    margin-top: 10px;
}

.jumbotron {
    background: #dbdbdb;
    height: 550px;
    background: url('images/sk1.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.minijumbo {
    background: #dbdbdb;
    height: 150px;
    background: url('images/images.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.jumbotron-heading {
    color: wheat;
    font-size: 50px;
    font-weight: bold;
    top: 300px;
    position: absolute;
    background: firebrick;
    padding: 10px;
}

.intro {
    background: firebrick;
    height: 450px;
    text-align: center;
}

.header-trends {
    font-weight: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 25px;
    padding-top: 25px;
    margin-bottom: 10px;
    color: wheat;
}

.home-categories {
    background: #f5f5f5;
    height: 450px;
    text-align: center;
}

.header-cate {
    font-weight: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 25px;
    padding-top: 25px;
    color: firebrick;
    margin-bottom: 10px;
}

.register-class {
    background: #f5f5f5;
    height: auto;
    padding: 20px;
}

.register-header {
    font-weight: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 25px;
    padding-top: 25px;
    color: firebrick;
    margin-bottom: 10px;
}

.reg-form {
    border: 1px solid #eeeeee;
    text-align: left;
}

.primary-button {
    background: firebrick;
    color: wheat;
    font-size: 14px;
    padding: 5px;
}

.footer {
    background: #f5f5f5;
    height: 200px;
}

.card {
    width: 25%;
    background: white;
    padding: 5px;
    display: inline-block;
    text-align: center
}

.card-image {
    padding: 10px;
}

.card-info {
    padding: 5px;
    color: wheat;
    background: firebrick;
    font-weight: bold;
}

.link {
    color: wheat;
    text-decoration: none;
}

.timeline_section {
    background: #f5f5f5;
    height: auto;
    padding: 20px;
}

.timeline_feeds {
    width: 60%;
    display: inline-block;
    text-align: center;
    padding: 2px;
    box-shadow: #afafaf 2px 2px;
    background: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.sidebar_feeds {
    box-shadow: #afafaf 2px 2px;
    background: white;
    width: 30%;
    padding: 20px;
    display: inline-block;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.product-header {
    font-size: 2em;
}

.class4 {
    font-size: 3em;
}

.card-total {
    width: 23%;
    padding: 3px;
    display: inline-block;
    margin: 2px;
    background: firebrick;
    color: white;
}

.product-card {
    display: inline-block;
    width: 25%;
    padding: 4px;
    background: white;
    text-align: center;
}

.error {
    padding: 5px;
    color: #ff0000;
    margin-top: 5px;
}

.success {
    padding: 5px;
    color: #006e06;
    margin-top: 5px;
}

.login-box {
    background: #f5f5f5;
    padding: 60px;
}

.small_profile_no_icon {
    display: inline-block;
}

.small_profile_no_icon img {
    border-radius: 100px;
    width: 50px;
    height: 40px;
}

.timeline_profile_name {
    display: inline-block;
}

.profile_pic {
    display: inline-block;
    width: 20%;
    padding: 20px;
}

.profile_pic img {
    width: 220px;
    height: 200px;
    border-radius: 50%;
}

.profile_info {
    display: inline-block;
    width: 70%;
    padding: 20px;
    text-align: center;
}

.display_username {
    text-align: center;
    padding: 20px;
}

.profile_edit_button {
    display: inline-block;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.settings_icon {
    display: inline-block;
    width: 20%;
    padding: 20px;
}

.profile_buttons {
    text-decoration: none;
    color: aliceblue;
}

.blue {
    background: #0069d9;
}

.outline {
    background: white;
    border: 1px solid #0069d0 !important;
    color: #0069d9
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.posts_followers_following {
    display: inline-block;
    width: 20%;
    padding: 10px;
}

.profile_bio {
    padding: 20px;
    width: auto;
}

textarea {
    width: 80%;
    padding: 20px;
    text-align: left;
    overflow-y: scroll;
    height: 100px;
    resize: none;
}

.profile_container {
    width: 100%;
    display: inline-block;
    text-align: left;
    padding: 20px;
    box-shadow: #afafaf 2px 2px;
    background: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.profile_container h4 {
    margin: 10px;
    border-right: firebrick 4px solid;
    padding-right: 10px;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.securityDIV {
    width: 40%;
    display: inline-block;
    padding: 20px;
    text-align: left;
}

.notifyDIV {
    width: 40%;
    display: inline-block;
    padding: 20px;
    text-align: left;
}


/*.timeline_feeds img {
    height: 300px;
    width: 300px;
    padding: 12px;
}*/

.timeline_feeds h4 {
    margin: 10px;
    border-right: firebrick 4px solid;
    padding-right: 10px;
}


/*Image overlay for comments and likes*/

.image-container {
    position: relative;
    width: 300px;
    display: inline-block;
    padding: 10px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /*background-color: firebrick;*/
    background: rgb(177, 13, 13);
    /* Fallback color */
    background: rgba(177, 17, 17, 0.7);
    overflow: hidden;
    width: 40%;
    height: 0;
    transition: .5s ease;
}

.image-container:hover .overlay {
    height: 100%;
    width: 100%;
}

.text {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.post-container {
    width: auto;
    display: inline-block;
    padding: 10px;
}

.post-tools {
    padding-top: 10px;
    text-align: left;
}

.post-comment {
    margin-top: 5px;
    padding: 25px;
    text-align: left;
}

.comments-container {
    padding: 20px;
    font-size: 14px;
    text-align: left;
    border: 1px solid #000;
}

.pagination {
    margin: 2px;
    display: inline-block;
}

.pagination ul {
    list-style: none;
    list-style-type: none;
    display: inline-block;
}

.pagination li {
    list-style: none;
    list-style-type: none;
    display: inline-block;
}

.pagination a {
    background: firebrick;
    color: wheat;
    padding: 6px;
    font-weight: bold;
    font-size: 15px;
    display: inline-block;
}

.top-container {
    text-align: center;
    width: 100%;
}

.video {
    text-align: center;
}

.canvas {
    display: inline-block;
}

.bottom-container {
    display: inline-block;
}

#canvas {
    display: none;
}